<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-clientdownloads">Client Downloads</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>Download the nps client for your operating system and architecture. We provide both command-line (CLI) and graphical user interface (GUI) versions where available.</p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Operating System</th>
                                <th>Architecture</th>
                                <th>CLI Client</th>
                                <th>GUI Client</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Linux -->
                            <tr>
                                <td>Linux</td>
                                <td>amd64</td>
                                <td><a href="/linux_amd64_client.tar.gz" download>Download</a></td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>Linux</td>
                                <td>arm64</td>
                                <td><a href="/linux_arm64_client.tar.gz" download>Download</a></td>
                                <td>N/A</td>
                            </tr>
                            <!-- Windows -->
                            <tr>
                                <td>Windows</td>
                                <td>amd64</td>
                                <td><a href="/windows_amd64_client.zip" download>Download</a></td>
                                <td><a href="/windows_amd64_gui_client.zip" download>Download GUI</a></td>
                            </tr>
                            <tr>
                                <td>Windows</td>
                                <td>arm64</td>
                                <td><a href="/windows_arm64_client.zip" download>Download</a></td>
                                <td><a href="/windows_arm64_gui_client.zip" download>Download GUI</a></td>
                            </tr>
                            <!-- macOS -->
                            <tr>
                                <td>macOS</td>
                                <td>amd64</td>
                                <td><a href="/darwin_amd64_client.tar.gz" download>Download</a></td>
                                <td><a href="/darwin_amd64_gui_client.tar.gz" download>Download GUI</a></td>
                            </tr>
                            <tr>
                                <td>macOS</td>
                                <td>arm64</td>
                                <td><a href="/darwin_arm64_client.tar.gz" download>Download</a></td>
                                <td><a href="/darwin_arm64_gui_client.tar.gz" download>Download GUI</a></td>
                            </tr>
                            <!-- Add more OS/Arch as needed -->
                        </tbody>
                    </table>
                    <p>For detailed installation instructions, please refer to our <a href="https://ehang-io.github.io/nps/#/install" target="_blank">documentation</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>